// @import '../node_modules/bulma/sass/utilities/initial-variables.sass';
// @import '../node_modules/bulma/sass/utilities/derived-variables.sass';
// @import '../node_modules/bulma/sass/utilities/mixins.sass';

// @import '../node_modules/bulma/sass/utilities/functions';
@import '../node_modules/bulma/sass/utilities/_all';

$navbar-item-hover-background-color: #fff;
$navbar-item-hover-color: #cc0000;

.has-bg-img {
  background: url('/static/backgroundsmaller.jpg') center center;
  background-size: cover;
}

.brick-bg-image {
  background: url('/static/whitebrick.jpg') center center;
  background-size: cover;
  background-attachment: fixed;

  @include until($desktop) {
    background: none;
  background-size: cover;
  background-attachment: fixed;
  }
}

.portfoliobreak {
  font-size: 6em;
  margin-left: 35%;
  margin-right: 35%;
  border-color: #000;
  background-color: #000;
  margin-top: 0;
  margin-bottom: 5%;

  @include until($desktop) {
  }

  @include until($tablet) {
    margin-left: 35%;
    margin-right: 35%;
  }
}

.abouthero {
  font-family: 'Amatic SC', cursive;
  font-size: 4em;
}

.lovequote {
  font-family: 'Amatic SC', cursive;
}

.reviewerquote {
  @include until($desktop) {
    font-size: 0.9em;
  }
  @include until($tablet) {
    font-size: 0.8em;
  }
}

.customperiod {
  font-size: 4em;
  color: #000;
}

.contacttitle {
  font-size: 4em;
  color: #fff;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  line-height: 1.2;
}

.service {
  font-size: 1.5em;
  margin-bottom: .7%;
}

.servicecategory {
  color: #cc0000;
  font-family: 'Amatic SC', cursive;
  font-size: 2.3em;
  font-weight: bold;
  margin-bottom: 1%;
}

.bg-img {
  background: url('/static/redwoodpanel.jpg') center center;
  background-size: cover;
}

.servicebox {
  margin-top: 2%;
}

.servicedescription {
  font-weight: 100;
  margin-bottom: .5%;
}

.studioaddress {
  color: #fff;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 2em;
}

.bottomservice {
  margin-top: 5%;
}

.servicetitle {
  color: #cc0000;
  font-weight: bold;
  font-family: 'Amatic SC', cursive;
  font-size: 3.5em;
  margin-bottom: 1%;
}

.gallerycontainer {
  margin-bottom: 5%;
}

.gallerytext {
  font-family: 'Amatic SC', cursive;
  font-size: 5em;
}

.studiomap {
  color: #fff;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 2em;
}

.customfooter {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

.galleryimage {
  margin-bottom:6%;
}

.salonlogo {
  max-width: 10%;
  display: inline;
}

.quotetext {
  font-family: 'Pacifico', cursive;
  font-size: 2.5em;

  @include until($desktop) {
    margin-bottom: 4%;
    font-size: 1.5em;
  }

  @include until($tablet) {
    font-size: 1.5em;
    margin-bottom: 10%;
  }
}

.contactemail {
  color: #fff;
  margin-top: 1%;
}

.contactmessenger {
  color: #fff;
  margin-bottom: 2%;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.contactmessengerlink:hover
{
    text-decoration: none;
    color: #000;
}

.contactmessengerlink {
  text-decoration: none;
  color: #FFF;
}

.contactphone {
  color: #fff; 
}

.contacthours {
  color: #fff;
}

.address {
  color: #fff;
  margin-bottom: 2%;
}

.sundayhours {
  margin-bottom: 2%;
}

.studiohours {
  color: #fff;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 2em;
}

.map {
  width: 100%;
  height: 400px;
  background-color: grey;
}

.custombreak3 {
  font-size: 6em;
  margin-left: 48%;
  margin-right: 48%;
  border-color: #fff;
  background-color: #FFF;
  margin-top: 0;
  margin-bottom: 0;

  @include until($desktop) {
  }

  @include until($tablet) {
    margin-left: 45%;
    margin-right: 45%;
  }
}

.custombreak2 {
  font-size: 6em;
  margin-left: 46%;
  margin-right: 46%;
  border-color: #fff;
  background-color: #FFF;
  margin-top: 0;
  margin-bottom: 0;

  @include until($desktop) {
  }

  @include until($tablet) {
    margin-left: 35%;
    margin-right: 35%;
  }
}

.customquotes {
  font-size: 4em;
  font-family: 'Noto Serif JP', sans-serif;

  @include until($tablet) {
    line-height: 0.2;
  }
}

.reviewlinktext {
  margin-bottom: 2%;

  @include until($desktop) {

  }
  @include until($tablet) {
    margin-bottom: 7%;
  }
}
.custombreak {
  font-size: 6em;
  margin-left: 48%;
  margin-right: 48%;
  border-color: #000;
  margin-top: 2.5%;
  background-color: #000;

  @include until($desktop) {
  }

  @include until($tablet) {
    margin-left: 45%;
    margin-right: 45%;
    margin-top: 10%;
  }
}

.reviewername {
  color: #cc0000;
  font-size: 2em;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  @include until($tablet) {
    margin-bottom: 8%;
  }
}

.navbar-item {
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 2em;
}

.herotextcontainer {
  margin-top: 2%;
  margin-bottom: 12%;

  @include until($desktop) {
  }

  @include until($tablet) {
    margin-bottom: 30%;
  }
}

.hairpic1 {
  @include until($desktop) {
  }

  @include until($tablet) {
    max-width: 25%;
    max-height: 25%;
  }
}

.lovecolortext {
  color: #fff;
  font-family: 'Amatic SC', cursive;
  font-size: 6em;

  @include until($desktop) {
    font-size: 3em;
    margin-top: 5%;
  }

  @include until($tablet) {
    font-size: 2.5em;
    margin-top: 3%;
  }

  @include tablet {
  }
  @include widescreen-only {
  }
}

@import '../node_modules/bulma/bulma.sass';
